
*{
    font-family: 'Montserrat', sans-serif;
    color: black;
 }

header {
    float: left;
    width: 100%;
    background-color: #3A7C91;
}

body,html {
    height: 100%;
    width: 100%;
    margin: 0;
}

nav {
    float: left;
    background-color: #3A7C91;
    width: 100%;
}

nav div.lang {
    margin: 0 10px;
}

nav div.lang a {
    margin: 0;
}

footer {
    background-color: #3A7C91;
    width: 100%;
    float: left;
}

div.menu {
    float: left;
}

div.content {
    background-color: #3A7C91;
    width: 100%;
    float: left;
    margin: 10px 0;
}

div.content .test{
    position: relative;
    clear: both;
    float: left;
    width: 95%;
    left: 2.5%;
    margin: 10px;
}

div.leftborder {
    float: left;
    width: 15%;
    height: 100%;
}

div.rightborder {
    float: right;
    width: 15%;
    height: 100%;
}

div.main {
    width: 70%;
    float: left;
}

div.clear {
    clear: both;
}

.grad1 {
    float:left;
    width: 100%;
    height: 100%;
    background: url(/img/bg.jpg) no-repeat fixed center;
    background-size: 100% 100%;
    overflow: auto;
    /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(white, grey); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(white, grey); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(white, grey); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(white, gray); /* Standard syntax (must be last) */
}

.minilogo {
    width: 25px;
    height: 25px;
}

.minilogocontainer:hover{
    transition: all .2s ease-in-out;
    transform: translate(0) scale(1.1);
    box-shadow: 4px 4px 4px black;
}

div.minilogocontainer {
    float: left;
    display: inline;
    height: 25px;
    width: 25px;
    margin: 3px;
}

div.minilogos {
    float: right;
    position: relative;
}

nav a{
    margin: 0 10px 0px 10px;
}

footer p {
    display:inline-block;
    margin: 10px 0px 0px 10px;
}

div.logo {
    float: left;
    height: 100%;
    width: 100%;
}

div.logos {
    float: left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: center;
    padding: 30px 0;
}

div.logos p {
    position: relative;
    float: left;
    margin: 0;
    width: 68%;
    left: 16%;
    font-size: 50px;
    text-align: center;
}

div.logos a{
    text-decoration: none;
}

div.map {
    position: relative;
    display: inline;
    width: 50%;
    margin: 30px 0px;
    overflow: hidden;
    float: left;
}

div.form {
    position: relative;
    display: inline;
    width: 45%;
    float: left;
    left: 2%;
}

.form button{
    cursor: pointer;
}

div.form *:not(button) {
    width: 98%;
}
#floatingCirclesG{
    position:relative;
    width:54px;
    height:54px;
    margin:auto;
    transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:10px;
    width:10px;
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:22px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#frotateG_02{
    left:6px;
    top:6px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

tateG_03{
    left:22px;
    top:0;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#frotateG_04{
    right:6px;
    top:6px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}
#frotateG_05{
    right:0;
    top:22px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#frotateG_06{
    right:6px;
    bottom:6px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#frotateG_07{
    left:22px;
    bottom:0;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#frotateG_08{
    left:6px;
    bottom:6px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }

